body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}

*{
  box-sizing: border-box;
}

a {
  outline: none; /* for Firefox */
  /* hlbr: expression(this.onFocus=this.blur()); for IE */
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #676a6c;
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
    body {
      line-height: 110%;
    }
}



blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-tap-highlight-color: transparent; /*手機版點擊透明藍色拿掉*/
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%; /*移除ios文字亂改大小*/
  min-height: 100vh;
  background-color: #f3f3f4;
}

.dn-1{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.w50px{
  width: 50px;
}

.w10{
  width:10%;
}

.w15{
  width:15%;
}

.w20{
  width: 20%;
}

.w33{
  width: 33%;
}

.w50{
  width: 50%;
}

.w60{
  width: 60%;
}

.w70{
  width: 70%;
}

.w80{
  width: 80%;
}

.w100{
  width: 100%;
}

.max100{
  max-width: 100px;
}

.max150{
  max-width: 150px;
}

.mb10{
  margin-bottom: 10px;
}

.mb15{
  margin-bottom: 15px;
}

.mb25{
  margin-bottom: 25px;
}

.mb30{
  margin-bottom: 30px;
}

.mt15{
  margin-top: 15px;
}

.mr10{
  margin-right: 10px;
}

.mr20{
  margin-right: 20px;
}

.ml132{
  margin-left: 132px;
}

.mlr10{
  margin-right: 5px;
  margin-left: 5px;
}

.pt3{
  padding-top: 3px;
}


.bigbox{
  width: 100%;
  min-height: 100vh;
  display: flex;
}


.fo5{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fl1{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.fl4{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fl6{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fd1{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.flex1{
  flex: 1;
}



































/* 右邊 */
.b-right-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  overflow: auto;
}

.b-right-bottom-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
}


/* 區塊 */
.b-bigbox-all{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.b-ibox{
  width: 100%;
  min-width: 1000px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: #e7e7e7 4px solid;
}

.b-ibox h1{
  font-size: 24px;
  font-weight: 300;
  border-bottom: #e7e7e7 1px solid;
  width: 100%;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.b-ibox-s{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
}




















/* 按鈕 */
.b-btn-s2{
  color: #FFF;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-btn-s3{
  color: #FFF;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-btn-c1{
  background-color: #0c8ab6;
}
.b-btn-c1:hover{ background-color: #19ace1; }

.b-btn-c2{
  background-color: #ffc107;
}
.b-btn-c2:hover{ background-color: #fdb25e; }

.b-btn-c3{
  background-color: #ec4758;
}
.b-btn-c3:hover{ background-color: #ff717f; }

.b-btn-c4{
  background-color: #18a689;
}
.b-btn-c4:hover{ background-color: #12947a; }






.b-btnbox{
  padding-left: 132px;
}

/* 搜尋按鈕 */
.b-search-btn{
  color: #31708f;
  background-color: #d9edf7;
  border: #bce8f1 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 10px 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.b-search-btn .i-arrow{
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  background-image: url("/icon/i-arrow.svg");
  filter: invert(33%) sepia(86%) saturate(746%) hue-rotate(185deg) brightness(95%) contrast(92%);
  transition: transform 0.3s ease;
}

.b-search-btn .i-arrow.rotate{
  transform: rotate(90deg);
}

.b-search-box{
  flex-wrap: wrap;
}
















/* 登出列 */
.content-tabs{
  width: 100%;
  border-bottom: solid 2px #2f4050;
  height: 42px;
  background: #fafafa;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #999;
  position: sticky;
  top: 0;
  z-index: 5;
}

.content-tabs button{
  color: #999;
  border-left: solid 1px #eee;
  background: #fff;
  height: 40px;
  width: 60px;
  outline: 0;
  cursor: pointer;
}

.content-tabs button:hover{
  color: #777;
  background: #f2f2f2;
}

.content-tabs .b-username{
  border-left: solid 1px #eee;
  background: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}



.txtbox1{
  max-width: 70px;
}






















select{
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0 12px;
}

select:focus {
    border-color: #1ab394 !important;
}


input{
  background-color: #FFF;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 0px 12px;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  font-size: 14px;
  height: 34px;
}

input:focus {
    border-color: #1ab394 !important;
}

input::placeholder{
  color: #a6a6c4;
}


textarea{
  background-color: #FFF;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 5px 12px;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  font-size: 14px;
  height: 50px;
}

textarea:focus {
    border-color: #1ab394 !important;
}

textarea::placeholder{
  color: #a6a6c4;
}


/* 核取方塊 */
.new-checkbox{
  width: 25px;
  height: 25px;
  accent-color: #18a689;
  cursor: pointer;
}




/* 錯誤提示 */

.ps-err-box{
  display: flex;
  padding-left:  132px;
}

.ps-err{
  font-size: 14px;
    border-radius: 3px;
    border: #ffb8b8 1px solid;
    width: fit-content;
    padding: 6px 20px;
    display: flex;
    background-color: #fbeeee;
    color: #333;
}

.ps-err-ok{
  font-size: 14px;
    border-radius: 3px;
    border: #d6e9c6 1px solid;
    width: fit-content;
    padding: 6px 20px;
    display: flex;
    background-color: #dff0d8;
    color: #3c763d;
}








/* 後台表格 */
.b-table-box{
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  width: 100%;
  position: relative;
}

.b-table-box.admin-table th.th-last{
  width: 202px;
}

.b-table-box thead, .b-table-box tr{
  width: 100%;
  height: 40px;
}

.b-table-box thead{
  position: sticky;
  top: 41px;
  background-color: #d9edf7;
}


.b-table-box thead tr th{
  border-bottom: 1px solid #dddddd;
  color: #676a6c;
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
}

.b-table-box thead tr th span{
  display: inline-block;
  margin-left: 5px;
  user-select: none;
}


.b-table-box tbody{
  width: 100%;
}

.b-table-box tbody tr{
  width: 100%;
  height: 36px;
}

.b-table-box tbody tr td{
  border-bottom: 1px solid #dddddd;
  color: #676a6c;
  padding: 8px;
  font-size: 13px;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  line-height: 22px;
}

.b-table-box tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.b-table-box tbody tr:hover {
  background-color: #f5f5f5;
}


/* 表格升降 */
.i-sort{
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



/* 後台 頁碼 */
.b-data-tables_munber{
  font-size: 13px;
}

.tables_munber{
  background-color: #f4f4f4;
  border-top: #ddd 1px solid;
  border-left: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  height: 29px;
  display: flex;
}

.tables_munber button{
  color: #777;
  font-size: 13px;
  padding: 4px 10px;
  background-color: #fff;
  height: 27px;
  border-right: #ddd 1px solid;
}

.tables_munber button:hover{
  background-color: #f4f4f4;
}

.tables_munber .pagehover{
  background-color: #e0e0e0;
}

.tables_munber span{
  color: #777;
  font-size: 13px;
  padding: 4px 10px;
  background-color: #fff;
  height: 27px;
  border-right: #ddd 1px solid;
  user-select: none;
}




/* 無資料 */
.b-no-information{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-top: -15px;
  padding: 50px 0;
}

.b-no-information img{
  width: auto;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}







/* 後台 文字欄位 */
.b-form-group-1{
  border-bottom: 1px dashed #f1f1f1;
  padding: 0 0 25px;
  margin-bottom: 25px;
}

.b-form-group-1 label{
  font-weight: bold;
  font-size: 14px;
  width: 110px;
  text-align: right;
  margin-right: 22px;
  display: flex;
  justify-content: flex-end;
}


.b-form-group-2 label{
  font-weight: bold;
  font-size: 14px;
  width: 110px;
  text-align: right;
  margin-right: 22px;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}


/* 日期 */
.dateto{
  font-size: 13px;
  background-color: #dddddd;
  height: 34px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-date-fast{
  border-radius: 4px;
  overflow: hidden;
  border: #dadada 1px solid;
  height: 34px;
  display: flex;
}

.date-select{
  cursor: pointer;
}

.b-date-fast button{
  flex: auto;
  border-right: #dadada 1px solid;
  height: 34px;
  transition: all 0.3s ease;
}

.b-date-fast button:last-child{
  border-right: #dadada 0px solid;
}

.b-date-fast button:hover{
  background-color: #1ab394;
  color: #fff;
}



/* 預覽圖大小 */
.b-banner-img{
  width: 320px;
}


/* 驗證燈箱 */
.b-lightbox-1{
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b-lightbox-1 h2{
  font-size: 24px;
  color: #fff;
}

.b-id-imgbox{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 44px;
}

.b-id-img{
  width: 300px;
  height: 200px;
  display: flex;
  margin: 15px;
  user-select: none;
}

.b-id-imgbox-X{
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18a689;
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.b-id-imgbox-X:hover{
  background-color: #1ab394;
  font-size: 28px;
  text-shadow: #0c8ab6 0px 2px 0px;
}